body{
  background-color:#000;
  color:#fff;
  font-family:verdana;
}
button{
  background-color:#fff;
  border:.2em solid #ccc;
  border-radius:5px;
  cursor:pointer;
  font-size:1em;
  padding:.25em .5em;
}
button:hover{background-color:#ccc;}
.hid{display:none;}
h2{margin-top:0;}
.tabl{
  border-spacing:10px;
  max-width:600px;
}
.tabl td{vertical-align:bottom;}
.rtxt{color:#f66;}
.btnlvlcurr{
  border-color:#c33;
  font-weight:bold;
}
.btnlvlcurr:hover{background-color:#fcc;}
#cvs{
  background-color:#ccc;
  border:1px solid #ccc;
}